{% extends "base.html" %}

{% block title %}Statistics{% endblock title %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-10 col-md-8">
			<h1>Mappr Stats</h1>
			<div id="graph">
				<canvas id="main-chart"></canvas>
			</div>
		</div>
		<div class="col-lg-2 col-md-4">
			<div id="controls">
				{% include "statistics/controls.html" %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block jsfiles %}
{{ super() }}
<script src="{{ url_for('static', filename='js/statschart.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/stats.js') }}" type="text/javascript"></script>
{% endblock jsfiles %}
