{% extends "base.html" %}

{% block title %}Unsupported Browser{% endblock %}

{% block description %}Your browser has been blocked from accessing Mappr. Please upgrade to something released this decade.{% endblock %}

{% block content %}
<div class="container">
	<div class="display-4 pt-5 pb-2">Unsupported Browser</div>
	<p class="lead">
		Your web browser is out of date.<br />
		Please update to a newer browser (newest version of Chrome / Edge / Firefox will do).<br />
		Old web-browsers can cause issues with security and performance and so are blocked from Mappr.<br />
		<a href="https://browser-update.org/update-browser.html" hreflang="en" rel="noreferrer noopener" class="btn btn-block btn-primary">
			See here for more information
		</a>
	</p>
</div>
{% endblock %}
