.carousel {
	max-height: 50vh;
	overflow: hidden;
}

.carousel-item {
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.carousel-item img {
	width: 100%;
	height: 100%;
    object-fit: contain;
}

.carousel-caption>h5, .carousel-caption p {
	background-color:#212529;
}
