body, html {
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	font-weight: 100;
	font-family: 'Inter', sans-serif !important;
}

main {
	min-height:100vh;
}

.container-dark {
	color: #fff !important;
    background-color: #212529 !important;
}

select {
	background: rgba(255, 255, 255, 0.3);
	color: #1a1a1a !important;
	border: .25vh solid #1a1a1a;
	font-size: 1.2em;
	line-height: 1.5em;
	height: 100%;
	padding: .25vh;
	top: 0;
	display: block;
	float: left;
	width: 25%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff !important;
	background-color: #1a1a1a !important;
}

.nav-pills-light .nav-link.active, .nav-pills-light .show > .nav-link {
	color: #1a1a1a !important;
	background-color: #fff !important;
}

.small-map {
	height:50vh;
	width:100%;
}

.beautify-marker {
	margin-top:-16px !important;
}

.icon-class {
	margin-top: 6px !important;
	margin-left: -2px !important;
}

#toast_section {
	min-height: 200px;
	position: absolute;
}

.toast-container {
	z-index: 9999;
	position:absolute;
	top:5rem;
}

#toast_container {
	position: absolute;
	top: 3em;
	right: 0;
}

.cursor-pointer {
	cursor: pointer;
}

table {
	width: 100%;
}

table tr.bb {
	cursor: pointer;
	border-bottom: 1px solid #000;
}

table tr:nth-child(2n) {
	background-color: rgba(255, 255, 255, 0.2);
}

table tr:nth-child(2n-1) {
	background-color: rgba(255, 255, 255, 0.1);
}

table tr:hover, table tr:focus {
	background-color: rgba(0, 0, 0, 0.1);
}

.loading {
	opacity: 0.5;
}

@media screen and (max-width: 768px) {
	select {
		font-size: 1.1em;
	}

	.toast {
		font-size: .8rem !important;
	}

	.toast-body {
    	padding: .5rem !important;
	}

	.toast-container>:not(:last-child) {
    	margin-bottom: .25rem !important;
	}
}
