<div class="modal modal-fullscreen-sm-down fade" id="mappr_modal" tabindex="-1" aria-labelledby="mappr_modal_title" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="mappr_modal_title">Mappr</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="mappr_modal_body">
				Mappr
			</div>
			<div class="modal-footer" id="mappr_modal_footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
