<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mappr_navbar" aria-controls="mappr_navbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		{% if request.endpoint != None and url_for(request.endpoint) == '/map' %}
			<div class="align-content-end">
				<button class="btn text-light" type="button" id="sidebar_toggle" aria-label="Toggle sidebar">
					<i class="fas fa-ellipsis-v"></i>
				</button>
			</div>
		{% endif %}
		<div class="collapse navbar-collapse" id="mappr_navbar">
			<a class="navbar-brand" href="/">
				<i class="text-light far fa-map"></i> mappr2
			</a>

			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			{% if current_user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('map_bp.map') }}">
						<i class="fas fa-compass"></i> Map <span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('user_bp.account') }}">
						<i class="fas fa-user-alt"></i> Account
					</a>
				</li>
				{% if current_user.account_type >= 4 %}
				<li class="nav-item">
					<a class="nav-link" href="/admin/">
						<i class="fas fa-users-cog"></i> Admin
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://analytics.mappr.uk/matomo/">
						<i class="fas fa-chart-bar"></i> Analytics
					</a>
				</li>
				{% endif %}
				<li class="nav-item dropdown">
          			<a class="nav-link dropdown-toggle" href="#" id="statistics_dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            			<i class="fas fa-chart-area"></i> Statistics
          			</a>
					<ul class="dropdown-menu" aria-labelledby="statistics_dropdown">
						<li>
							<a class="dropdown-item" href="{{ url_for('statistics_bp.network_stats') }}">
								<i class="fas fa-broadcast-tower"></i> Networks
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ url_for('statistics_bp.user_stats') }}">
								<i class="fas fa-user-alt"></i> Users
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
          			<a class="nav-link dropdown-toggle" href="#" id="information_dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            			<i class="fas fa-info-circle"></i> Information
          			</a>
					<ul class="dropdown-menu" aria-labelledby="information_dropdown">
						<li>
							<a class="dropdown-item" href="https://t.me/mappr" rel="noopener">
								<i class="fas fa-"></i> Telegram Group
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ url_for('main_bp.contribute') }}">
								<i class="fas fa-hands-helping"></i> Contributing
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ url_for('main_bp.privacy') }}">
								<i class="fas fa-user-secret"></i> Privacy Policy
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ url_for('main_bp.terms') }}">
								<i class="fas fa-file-contract"></i> Terms of Use
							</a>
						</li>
						<!--<li>
							<hr class="dropdown-divider">
						</li>
						<li>
							<a class="dropdown-item" href="#">Support pages?</a>
						</li>-->
          			</ul>
        		</li>
				<li class="nav-item dropdown">
          			<a class="nav-link dropdown-toggle" href="#" id="tool_dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            			<i class="fas fa-toolbox"></i> Tools
          			</a>
					<ul class="dropdown-menu" aria-labelledby="tool_dropdown">
						<li>
							<a class="dropdown-item" href="https://tools.pedroc.co.uk/4g-speed/" title="Calculate the maximum speed of a 4G config" hreflang="en" rel="noopener">
								<i class="fas fa-calculator"></i> 4G Speed Calculator
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="https://tools.pedroc.co.uk/5g-speed/" title="Calculate the maximum speed of a 5G config" hreflang="en" rel="noopener">
								<i class="fas fa-bolt"></i> 5G Speed Calculator
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="https://mobilespectrum.org" title="View spectrum allocations across the world" rel="noopener">
								<i class="fas fa-wave-square"></i> Mobile Spectrum
							</a>
						</li>
          			</ul>
        		</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('auth_bp.logout') }}">
						<i class="fas fa-sign-out-alt"></i> Logout
					</a>
				</li>
			</ul>
			{% endif %}
			{% if request.endpoint != None and url_for(request.endpoint) == '/map' %}
				<div class="d-flex">
					<div class="input-group">
						<input class="form-control" type="search" id="enb_search_input" placeholder="Search for eNb" aria-label="Search" />
						<button class="btn btn-success" type="submit" id="enb_search_submit"><i class="fas fa-search"></i> Search</button>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</nav>
