{% extends "base.html" %}

{% block title %}Collections{% endblock %}

{% block description %}{% endblock %}

{% block pagehead %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery.css') }}" media="all" />
{% endblock pagehead %}

{% block content %}
	<div class="container-fluid bg-light py-5">
		<div class="container">
			<div class="display-4 pb-4">Collections</div>
			<a href="{{ url_for('gallery_bp.upload') }}" class="btn btn-dark">Upload</a>
			<hr/>

			<div id="featured_images" class="carousel carousel-dark slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					{% for image in image_list %}
					<button type="button" data-bs-target="#featured_images" data-bs-slide-to="{{ loop.index0 }}"
						aria-label="Slide #{{ loop.index }}"{% if loop.index0 == 0 %} class="active" aria-current="true"{% endif %}></button>
					{% endfor %}
				</div>
				<div class="carousel-inner">
					{% for image in image_list %}
					<div class="carousel-item{% if loop.index0 == 0 %} active{% endif %}">
						<img src="{{ url_for('gallery_bp.view_image', image_uuid=image.file_uuid, image_format='jpg') }}" class="d-block w-100" alt="{{ image.file_type }}">
						<div class="carousel-caption text-light d-none d-md-block">
							<h5>Image {{ loop.index }}</h5>
							<p>{{ image.file_name }}</p>
						</div>
					</div>
					{% endfor %}
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#featured_images" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#featured_images" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>
{% endblock %}
