{% extends "base.html" %}

{% block title %}Collections{% endblock %}

{% block description %}{% endblock %}

{% block content %}
	<div class="container-fluid bg-light py-5">
		<div class="container">
			<div class="display-4 pb-4">Collections</div>
			<a href="{{ url_for('gallery_bp.upload') }}" class="btn btn-dark">Upload</a>
			{% for image in image_list %}
				<img src="{{ url_for('gallery_bp.view_image', image_uuid=image.file_uuid, image_format='jpg') }}" width="50" height="50" />
			{% endfor %}
		</div>
	</div>
{% endblock %}
