{% extends "base.html" %}

{% block title %}Collections{% endblock %}

{% block description %}Mappr collections allow you to upload and share your mast pictures{% endblock %}

{% block pagehead %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery.css') }}" media="all" />
{% endblock pagehead %}

{% block content %}
	<div class="container-fluid py-5">
		<div class="container">
			<h1 class="display-4 pb-4">Collections</h1>
			<a href="{{ url_for('gallery_bp.upload') }}" class="btn btn-block {% if session['dark_theme'] %}btn-outline-info{% else %}btn-outline-primary{% endif %}">
				<i class="fas fa-upload"></i> Upload
			</a>
			<a href="{{ url_for('gallery_bp.image_table') }}" class="btn btn-block {% if session['dark_theme'] %}btn-outline-light{% else %}btn-outline-dark{% endif %}">
				<i class="fas fa-image"></i> My Images
			</a>

			<hr/>

			<h2 class="h3">Your most recent pictures</h2>
			{% if user_image_list|length == 0 %}
				<small>You must upload some mast pictures in order to see them here... I'm not magic :)</small>
			{% else %}
			<div id="my_images" class="carousel carousel-dark slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					{% for image in user_image_list %}
					<button type="button" data-bs-target="#my_images" data-bs-slide-to="{{ loop.index0 }}"
						aria-label="Slide #{{ loop.index }}"{% if loop.index0 == 0 %} class="active" aria-current="true"{% endif %}></button>
					{% endfor %}
				</div>
				<div class="carousel-inner">
					{% for image in user_image_list %}
					<div class="carousel-item{% if loop.index0 == 0 %} active{% endif %}">
						<img src="{{ url_for('gallery_bp.view_image', image_uuid=image.file_uuid, image_format='jpg') }}" class="d-block w-100" alt="{{ image.file_type }}">
						<div class="carousel-caption text-light d-none d-md-block">
							<h5>Image {{ loop.index }}</h5>
							<p>{{ image.file_name }}</p>
						</div>
					</div>
					{% endfor %}
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#my_images" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#my_images" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
			{% endif %}<hr/>

			<h2 class="h3">Featured Images</h2>
			{% if featured_image_list|length == 0 %}
				<small>Would you look at that, nobody has uploaded any pictures</small>
			{% else %}
			<div id="featured_images" class="carousel carousel-dark slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					{% for image in featured_image_list %}
					<button type="button" data-bs-target="#featured_images" data-bs-slide-to="{{ loop.index0 }}"
						aria-label="Slide #{{ loop.index }}"{% if loop.index0 == 0 %} class="active" aria-current="true"{% endif %}></button>
					{% endfor %}
				</div>
				<div class="carousel-inner">
					{% for image in featured_image_list %}
					<div class="carousel-item{% if loop.index0 == 0 %} active{% endif %}">
						<img src="{{ url_for('gallery_bp.view_image', image_uuid=image.file_uuid, image_format='jpg') }}" class="d-block w-100" alt="{{ image.file_type }}">
						<div class="carousel-caption text-light d-none d-md-block">
							<h5>Image {{ loop.index }}</h5>
							<p>{{ image.file_name }}</p>
						</div>
					</div>
					{% endfor %}
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#featured_images" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#featured_images" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
