{% extends "base.html" %}

{% block title %}Collections - Image{% endblock %}

{% block description %}View details about a specific image{% endblock %}

{% block content %}
	<div class="container-fluid py-5">
		<div class="container">
			<div class="display-4 pb-4">Collections - Image</div>
			{% include "components/alert.html" %}
			<nav class="navbar-light bg-light mb-2 rounded" aria-label="breadcrumb">
  				<ol class="breadcrumb px-4 py-3">
    				<li class="breadcrumb-item"><a href="{{ url_for('gallery_bp.home') }}">Home</a></li>
   	 				<li class="breadcrumb-item"><a href="{{ url_for('gallery_bp.image_table') }}">Images</a></li>
    				<li class="breadcrumb-item active" aria-current="page">{{ image['file_name'] }} Details</li>
  				</ol>
			</nav>

			<div class="row">
				<div class="col-lg-6 col-sm-12">
					<img src="{{ url_for('gallery_bp.view_image', image_uuid=image['file_uuid'], image_format='best') }}" class="mt-1 mh-vh-50 img-fluid" alt="{{ image['alt_text'] }}" />
				</div>
				<div class="col-lg-6 col-sm-12">
					<form id="update_image_form" class="" action="{{ url_for('gallery_bp.edit_image', image_uuid=image['file_uuid']) }}" method="POST">
						{{ details_form.csrf_token }}
						<div class="mb-2">
							{{ details_form.name.label(class="form-label") }}
							{{ details_form.name(class="form-control", value=image['file_name'], readonly=image['user_id']!=current_user.id) }}
						</div>
						<div class="mb-2">
							{{ details_form.description.label(class="form-label") }}
							{{ details_form.description(class="form-control", value=image['description'], readonly=image['user_id']!=current_user.id) }}
						</div>
						<div class="mb-2">
							{{ details_form.alt.label(class="form-label") }}
							{{ details_form.alt(class="form-control mb-3", value=image['alt_text'], readonly=image['user_id']!=current_user.id) }}
						</div>
						{% if image['user_id']==current_user.id %}
						<div class="mb-2">
							{{ details_form.permission.label(class="form-label") }}
							{{ details_form.permission(class="form-select mb-3", value=image['permission'], readonly=image['user_id']!=current_user.id) }}
						</div>
						<button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Update Details</button>
						{% endif %}
					</form>
				</div>
  			</div>

			<hr />

			<div class="float-right">
				<a href="{{ url_for('gallery_bp.image_table') }}" class="btn btn-info text-light"><i class="fas fa-image"></i> Your Images</a>
				<a data-share-url="{{ url_for('gallery_bp.view_image', image_uuid=image['file_uuid'], image_format='best') }}"
				   data-share-title="{{ image['file_name'] }}"
				   data-share-text="{{ image['description'] }}"
				   class="btn btn-primary">
					<i class="fas fa-share"></i> Share
				</a>
				{% if image['user_id']==current_user.id %}
				<a href="#" class="btn btn-warning text-light"><i class="fas fa-broom"></i> Clear EXIF Data</a>
				<a href="{{ url_for('gallery_bp.delete_image', image_uuid=image['file_uuid']) }}" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</a>
				{% endif %}
			</div>

			<hr />

			<div class="row">
				<div class="col-lg-6 col-sm-12">
					{% if location|length != 0 %}
						<div data-map-lat="{{ location[0] }}" data-map-lng="{{ location[1] }}" class="text-center">
							<div class="spinner-border text-primary" role="status">
							  	<span class="visually-hidden">Loading...</span>
							</div>
						</div>
						<form id="update_location_form" class="" action="{{ url_for('gallery_bp.edit_image', image_uuid=image['file_uuid']) }}" method="POST">
							{{ location_form.csrf_token }}
							<div class="mb-2">
								{{ location_form.lat.label(class="form-label") }}
								{{ location_form.lat(class="form-control mb-3", value=location[0], readonly=image['user_id']!=current_user.id) }}
							</div>
							<div class="mb-2">
								{{ location_form.lng.label(class="form-label") }}
								{{ location_form.lng(class="form-control mb-3", value=location[1], readonly=image['user_id']!=current_user.id) }}
							</div>
							{% if image['user_id']==current_user.id %}
							<button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Update Image Location</button>
							{% endif %}
						</form>
					{% else %}
						<span class="lead">Image does not have any location data</span>
						{% if image['user_id']==current_user.id %}
						<span class="d-block mt-4 h4">Add location data:</span>
						<form id="update_location_form" class="" action="{{ url_for('gallery_bp.edit_image', image_uuid=image['file_uuid']) }}" method="POST">
							{{ location_form.csrf_token }}
							<div class="mb-2">
								{{ location_form.lat.label(class="form-label") }}
								{{ location_form.lat(class="form-control mb-3", value=location[0], readonly=image['user_id']!=current_user.id) }}
							</div>
							<div class="mb-2">
								{{ location_form.lng.label(class="form-label") }}
								{{ location_form.lng(class="form-control mb-3", value=location[1], readonly=image['user_id']!=current_user.id) }}
							</div>
							<button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Add Image Location</button>
						</form>
						{% endif %}
					{% endif %}
				</div>
				<div class="col-lg-6 col-sm-12 text-center">
					<!--<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_exif_data" aria-expanded="false" aria-controls="collapse_exif_data">
						View Image EXIF data
					</button>-->
					<div class="collapsed" id="collapse_exif_data">
						<table class="table table-sm table-striped table-hover{% if session['dark_theme'] %} table-dark{% endif %}">
							<thead>
								<tr>
									<th scope="col">Tag Name</th>
									<th scope="col">Value</th>
								</tr>
							</thead>
							<tbody>
								{% if exif_data|length == 0 %}
								<tr>
									<th scope="row" colspan="2">Image has no EXIF data</th>
								</tr>
								{% else %}
									{% for tag in exif_data %}
									<tr>
										<td>{{ tag }}</td>
										<td class="user-select-all">{{ exif_data[tag] }}</td>
									</tr>
									{% endfor %}
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block jsfiles %}
	{{ super() }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.73.0/L.Control.Locate.min.js" integrity="sha512-taGzWgtN8FsSonl7SSrfPQBvTm/omZEf9p0s64IomW39xQZx8bSmP+aUyzeqig61ojVlMUwW5Moyo87HNQxliw==" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.73.0/L.Control.Locate.min.css" integrity="sha512-61KpOy3DnpOq3pZlp54eyUdvq9ub53e2ETbksuRlQCMNiAkqyB2Iz8a6ggg61e9zlvPImPz+7A0tgvNGaoVLZg==" crossorigin="anonymous" />

	<!-- Scripts to activate some data-* attribute functionality -->
	<script src="{{ url_for('static', filename='js/gallery/maplocation.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/gallery/sharing.js') }}" type="text/javascript"></script>
{% endblock %}
