{% extends "base.html" %}

{% block title %}Collections - Image{% endblock %}

{% block description %}View details about a specific image{% endblock %}

{% block content %}
	<div class="container-fluid py-5">
		<div class="container">
			<div class="display-4 pb-4">Collections - Image</div>
			<nav class="navbar-light bg-light mb-2 rounded" aria-label="breadcrumb">
  				<ol class="breadcrumb px-4 py-3">
    				<li class="breadcrumb-item"><a href="{{ url_for('gallery_bp.home') }}">Home</a></li>
   	 				<li class="breadcrumb-item"><a href="{{ url_for('gallery_bp.image_table') }}">Images</a></li>
    				<li class="breadcrumb-item active" aria-current="page">Image</li>
  				</ol>
			</nav>

			<img src="{{ url_for('gallery_bp.view_image', image_uuid=image['file_uuid'], image_format='best') }}"
				 class="img-fluid" alt="{{ image['alt_text'] }}" />
		</div>
	</div>
{% endblock %}
