{% extends "base.html" %}

{% block title %}Collections - Image{% endblock %}

{% block description %}View details about a specific image{% endblock %}

{% block content %}
	<div class="container-fluid py-5">
		<div class="container">
			<div class="display-4 pb-4">Collections</div>
			{% include "components/alert.html" %}
			<nav class="navbar-light bg-light mb-2 rounded" aria-label="breadcrumb">
  				<ol class="breadcrumb px-4 py-3">
    				<li class="breadcrumb-item"><a href="{{ url_for('gallery_bp.home') }}">Home</a></li>
    				<li class="breadcrumb-item active" aria-current="page">Your Images</li>
  				</ol>
			</nav>
			<div class="table-responsive-lg">
				<div class="d-grid gap-2 d-lg-block">
					<a class="btn btn-outline-info" href="{{ url_for('gallery_bp.upload') }}"><i class="fas fa-upload"></i> Upload</a>
					<a class="btn btn-outline-warning" href="{{ url_for('gallery_bp.image_map') }}"><i class="fas fa-map-marked-alt"></i> View Map</a>
				</div>
				<table class="table table-striped table-hover{% if session['dark_theme'] %} table-dark{% endif %}">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Uploaded</th>
							<!--<th scope="col">Alt-Text</th>-->
							<th scope="col">Description</th>
							<th scope="col">Options</th>
						</tr>
					</thead>
					<tbody>
						{% if image_list|length == 0 %}
						<tr>
							<th scope="row" colspan="6">You haven't uploaded any images</th>
						</tr>
						{% else %}
							{% for image in image_list %}
							<tr{% if image['processing'] == 1 %} class="table-warning"{% endif %} title="{{ image['alt_text'] }}">
								<td>{{ image['file_name'] }}</td>
								<td>{{ image['time_created'] }}</td>
								<!--<td>{{ image['alt_text'] }}</td>-->
								<td>{{ image['description'] }}</td>
								<td>
									<div class="btn-group btn-group-sm" role="group" aria-label="Image options for {{ image['file_name'] }}">
										<a data-share-url="{{ url_for('gallery_bp.view_image', image_uuid=image['file_uuid'], image_format='best') }}"
										   data-share-title="{{ image['file_name'] }}"
										   data-share-text="{{ image['description'] }}"
										   class="btn btn-sm btn-primary">
											<i class="fas fa-share"></i> Share
										</a>
										<a href="{{ url_for('gallery_bp.view_image', image_uuid=image['file_uuid'], image_format='best') }}"
										   title="{{ image['file_name'] }}" class="btn btn-sm btn-success" target="_blank">
											<i class="fas fa-image"></i> View
										</a>
										<a href="{{ url_for('gallery_bp.edit_image', image_uuid=image['file_uuid']) }}" class="btn btn-sm btn-info text-light">
											<i class="fas fa-pencil-alt"></i> Edit
										</a>
										<a href="{{ url_for('gallery_bp.delete_image', image_uuid=image['file_uuid']) }}" class="btn btn-sm btn-danger">
											<i class="fas fa-trash"></i> Delete
										</a>
									</div>
								</td>
							</tr>
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block jsfiles %}
	{{ super() }}
	<!-- Script to activate some data-* attribute functionality -->
	<script src="{{ url_for('static', filename='js/gallery/sharing.js') }}" type="text/javascript"></script>
{% endblock %}
