{% extends "base.html" %}

{% block title %}Collections{% endblock %}

{% block description %}Upload your mast pictures to Mappr here{% endblock %}

{% block content %}
	<div id="csrf_token" data-value="{{ csrf_token() }}"></div>
	<div class="container-fluid py-5">
		<div class="container">
			<div class="display-4 pb-4">Collections - Upload</div>

			<nav class="navbar-light bg-light mb-2 rounded" aria-label="breadcrumb">
  				<ol class="breadcrumb px-4 py-3">
    				<li class="breadcrumb-item"><a href="{{ url_for('gallery_bp.home') }}">Home</a></li>
   	 				<li class="breadcrumb-item"><a href="{{ url_for('gallery_bp.image_table') }}">Images</a></li>
    				<li class="breadcrumb-item active" aria-current="page">Upload</li>
  				</ol>
			</nav>

			<a class="btn btn-danger" data-bs-toggle="collapse" href="#upload_terms_collapsable" role="button" aria-expanded="false" aria-controls="upload_terms_collapsable">
				<i class="fas fa-exclamation-circle"></i> Terms of Uploading
			</a>
			<a class="btn btn-info text-light" data-bs-toggle="collapse" href="#upload_information_collapsable" role="button" aria-expanded="false" aria-controls="upload_information_collapsable">
				<i class="fas fa-info-circle"></i> Read before Uploading
			</a>
			<div class="collapse" id="upload_terms_collapsable">
				<p class="lead mt-2">Before uploading images you must read the following information:</p>
				Uploading images means that you are granting Mappr a license to use, modify, share, distribute your images;
				this permission can be revoked at any time by deleting the image from Mappr.<br />
				Information associated with the image will also be uploaded, this metadata can be removed by external
				tools before uploading or by updating settings on the image details page after upload.
				<br />
				<i class="fas fa-exclamation"></i> You agree to only upload the following:
				<ul>
					<li>photos of mobile equipment (i.e. antennas / radio units),</li>
					<li>photos containing mobile equipment (i.e. picturesque landscape shot of mast on a hill),</li>
					<li>screenshots of mobile applications relevant to the discussion of mobile equipment (i.e. NSG screenshots)</li>
				</ul>
				You must also have permission to use and share the images you upload (no Google Maps screenshots).<br />
				Preferably, photos should be high resolution and taken using a decent camera.<br />
				Failure to comply with these terms will result in immediate account suspension.
			</div>
			<div class="collapse" id="upload_information_collapsable">
				<p class="lead mt-2">Information to consider before uploading:</p>
				<ul>
					<li>You must make an effort to add alt-text to your photos, this text describes the contents of the image to
						users with sight impairments.</li>
					<li>You should make an effort to add a description to your photos, this will add further context to the photos.</li>
					<li>You should avoid uploading visually similar images.</li>
				</ul>
				<strong>If you are uploading images on a phone and want to preserve the location data from the image, please upload it via a PC</strong>
			</div>

			<hr />

			<div id="add_files_area"></div>
		</div>
	</div>
{% endblock %}

{% block jsfiles %}
	{{ super() }}
	<!-- Uppy -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uppy/1.27.0/uppy.min.js" integrity="sha512-vlsLx+AdIgUfptm7WkzpBk8TZWJYVCjNq8bxHeUEyIqKyocRww0PK1gvyMwTsg8OvlnpjA4BlUeWyFlDW8U5Og==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uppy/1.27.0/uppy.min.css" integrity="sha512-zgilVU1Oj8eiTgOKOiw5tQmV/+Fb8RdjiMzuUBjDntL/d4IPNpz3XLMdwNqdKB2TVO6J6B7S/Yn0D8u+DscKJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- Upload JS file -->
	<script src="{{ url_for('static', filename='js/gallery/upload.js') }}" type="text/javascript"></script>
{% endblock %}
