{% extends "base.html" %}

{% block title %}Your Account{% endblock title %}

{% block content %}
<div class="container-fluid bg-light py-4 px-3">
	<div class="container">
		<h1 class="display-3">Account Settings</h1>
		{% include "components/alert.html" %}
		<hr />
		<h2 class="h3">User Details</h2>
		{% for field, errors in email_form.errors.items() %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				{{ email_form[field].label }}: {{ ', '.join(errors) }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		<form id="email_form" action="{{ url_for('user_bp.account') }}" method="POST">
			{{ email_form.csrf_token }}
			<div class="input-group mb-3 row">
				<label for="static_name" class="col-sm-2 col-form-label">Name</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control" id="static_name" value="{{ user_details.name }}">
				</div>
			</div>
			<div class="input-group mb-3 row">
				{{ email_form.email.label(class="col-sm-2 col-form-label") }}
				<div class="col-sm-10">
					{{ email_form.email(class="form-control",value=user_details.email) }}
				</div>
			</div>
			<div class="input-group mb-3 row">
				{{ email_form.password.label(class="col-sm-2 col-form-label") }}
				<div class="col-sm-10">
					{{ email_form.password(class="form-control",value=user_details.email) }}
				</div>
			</div>
			<div class="input-group mb-3">
				<button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save Changes</button>
			</div>
		</form>
		<hr />
		<div class="float-right">
			<a href="{{ url_for('user_bp.password') }}" class="btn btn-outline-primary"><i class="fas fa-key"></i> Change Password</a>
			<a href="{{ url_for('user_bp.download') }}" class="btn btn-outline-dark"><i class="fas fa-download"></i> Download My Data</a>
			<a href="{{ url_for('user_bp.delete') }}" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Delete Account</a>
		</div>
		{% if login_stale == true %}
			<!--<div class="mt-5 alert alert-warning alert-dismissible fade show" role="alert">
				Your login is stale. Please re-authenticate.
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>-->
		{% endif %}
	</div>
</div>
{% endblock content %}
