{% extends "base.html" %}

{% block title %}Mappr Settings{% endblock title %}

{% block content %}
<div class="container-fluid py-4 px-3">
	<div class="container">
		<h1 class="display-3">Experimental Settings</h1>
		<small>
			<i class="fas fa-poo-storm"></i> These settings will void your warranty
		</small>
		{% include "components/alert.html" %}
		<hr />
		<h3>Session Toggles</h3>
		<a href="{{ url_for('user_bp.setting_toggle', setting='dark_theme') }}" class="btn btn-secondary">
			<i class="fas fa-adjust"></i> Toggle Dark Theme
		</a>
		<a href="{{ url_for('user_bp.setting_toggle', setting='collections') }}" class="btn btn-primary disabled" disabled>
			<i class="fas fa-images"></i> Toggle Collections
		</a>
		<hr />
		<h3 class="mt-4">Account Toggles</h3>
		<form id="settings" method="POST" action="/404">
			<div class="form-check form-switch">
				<input class="form-check-input" type="checkbox" id="use_js_workers" disabled>
				<label class="form-check-label" for="use_js_workers">
					<i class="fa fa-wrench"></i> Use WebWorkers <span class="badge bg-warning text-light">Experimental</span>
				</label>
			</div>
			<div class="form-check form-switch">
				<input class="form-check-input" type="checkbox" id="use_service_worker" disabled>
				<label class="form-check-label" for="use_service_worker">
					<i class="fa fa-cloud-download-alt"></i> Use Service Worker <span class="badge bg-warning text-light">Experimental</span>
				</label>
			</div>
			<div class="form-check form-switch">
				<input class="form-check-input" type="checkbox" id="enforce_csp" disabled>
				<label class="form-check-label" for="enforce_csp">
					<i class="fa fa-lock"></i> Enforce Content Security Policy <span class="badge bg-warning text-light">Experimental</span>
				</label>
			</div>
			<div class="form-check form-switch">
				<input class="form-check-input" type="checkbox" id="csv_mongo" disabled>
				<label class="form-check-label" for="csv_mongo">
					<i class="fa fa-lock"></i> Load map csv mongo renderer <span class="badge bg-danger text-light">Unavailable</span>
				</label>
			</div>
			<br />
			<button type="submit" id="save_settings" class="btn btn-success"><i class="fas fa-save"></i> Save Settings</button>
		</form>
		<hr />
		<div class="float-right">
			<a href="{{ url_for('user_bp.account') }}" class="btn btn-outline-info"><i class="fas fa-user"></i> Account Settings</a>
		</div>
	</div>
</div>
{% endblock content %}
