<nav class="nav nav-pills nav-fill nav-justified">
	<a class="nav-item nav-link text-dark active" id="map_settings_toggle" href="#" role="tab" data-bs-toggle="tab" data-bs-target="#map_settings" aria-selected="true">
		<i class="fas fa-map-marked-alt"></i><span class="sr-only">Map Settings</span>
	</a>
	<a class="nav-item nav-link text-dark" id="results_toggle" href="#" role="tab" data-bs-toggle="tab" data-bs-target="#results" aria-selected="false">
		<i class="fas fa-table"></i><span class="sr-only">Table of Results</span>
	</a>
	<a class="nav-item nav-link text-dark" id="bookmarks_toggle" href="#" role="tab" data-bs-toggle="tab" data-bs-target="#bookmarks" aria-selected="false">
		<i class="fas fa-bookmark"></i><span class="sr-only">Bookmarks</span>
	</a>
	<a class="nav-item nav-link text-dark" id="files_toggle" href="#" role="tab" data-bs-toggle="tab" data-bs-target="#files" aria-selected="false">
		<i class="fas fa-file"></i><span class="sr-only">CSV Files</span>
	</a>
</nav>
<div class="tab-content">
	<div class="tab-pane active" id="map_settings" role="tabpanel" aria-labelledby="map_settings_toggle">
		<h2 class="h4">Map Settings</h2>

		<div class="accordion accordion-flush" id="sidebar_accordion">
			<div class="accordion-item">
				<h2 class="accordion-header" id="accord_head_map_items">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_one" aria-expanded="true" aria-controls="collapse_one">Map Objects</button>
				</h2>
				<div id="collapse_one" class="accordion-collapse collapse" aria-labelledby="accord_head_map_items" data-bs-parent="#sidebar_accordion">
					<div class="accordion-body">
						<div class="btn-group-vertical btn-group" role="group" aria-label="Map item controls">
							<button aria-label="Pause / Unpause node loading" id="node_loading_pause" class="btn btn-primary">
								<i class="fas fa-pause"></i> Pause Node Loading
							</button>
							<button aria-label="Disable / Enable node polygons" id="node_polygons_pause" class="btn btn-dark">
 								<i class="fas fa-shapes"></i> Disable Polygons
							</button>
							<button aria-label="Disable / Enable map clustering" id="map_clustering_toggle" class="btn btn-dark d-none">
 								<i class="fas fa-circle"></i> Enable Clustering (Soon)
							</button>
							<button aria-label="Disable / Enable toasts" id="ui_show_toasts" class="btn btn-info text-light">
								<i class="fas fa-bread-slice"></i> Disable Toast Alerts
							</button>
							<button aria-label="Clear map markers" id="node_markers_clear" class="btn btn-danger">
								<i class="fas fa-trash"></i> Delete Map Markers
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="accordion-item">
				<h2 class="accordion-header" id="accord_head_map_location">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_two" aria-expanded="true" aria-controls="collapse_two">Map &amp; Location</button>
				</h2>
				<div id="collapse_two" class="accordion-collapse collapse" aria-labelledby="accord_head_map_location" data-bs-parent="#sidebar_accordion">
					<div class="accordion-body">
						<label for="map_name" class="h5">Base Map</label>
						<select id="map_name" class="form-select mb-3" aria-label="Choose web map">
							<option value='osm'>OpenStreetMap</option>
							<option value='otm'>OpenTopoMap</option>
							<option value='rdi' selected="selected">G Streets</option>
							<option value='arm'>G Streets Alt</option>
							<option value='hyb'>G Hybrid</option>
							<option value='ter'>G Terrain</option>
							<option value='rdo'>G Roads Only</option>
							<option value='tro'>G Terrain Only</option>
							<option value='sat'>G Sat Only</option>
						</select>

						<label for="world_location_search" class="h5">Search for a location...</label>
						<div class="input-group mb-3">
							<input class="form-control" type="text" maxlength="250" minlength="2" id="world_location_search" name="world_location_search" aria-label="Search for an address" placeholder="Enter an address, postcode, city.."/>
							<div class="input-group-append">
								<button id="do_world_location_search" class="btn btn-dark" type="button"><i class="fas fa-search"></i></button>
							</div>
						</div>

						<div class="d-grid gap-2 col-10 mx-auto mb-2">
							<button type="button" aria-label="Move map to current location" class="btn btn-block btn-dark" id="locate_user_manual">
								<i class="fas fa-location-arrow"></i> Find me
							</button>

							<button type="button" aria-label="Watch user position" class="btn btn-block btn-dark" id="toggle_geo_watch">
								<i class="fas fa-binoculars"></i> Watch Geolocation
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="accordion-item">
				<h2 class="accordion-header" id="accord_head_operator">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_three" aria-expanded="true" aria-controls="collapse_three">MCC, MNC & RAT</button>
				</h2>
				<div id="collapse_three" class="accordion-collapse collapse show" aria-labelledby="accord_head_operator" data-bs-parent="#sidebar_accordion">
					<div class="accordion-body">
						<div class="container container-fluid">
							<select id="select_rat" class="form-select mb-2" aria-label="Choose radio access technology" disabled>
								<option value='lte'>LTE</option>
							</select>
							<select id="select_mcc" class="form-select mb-2" aria-label="Choose a country">
								<option value='234' selected>United Kingdom</option>
								<option value='368'>Cuba</option>
							</select>
							<select id="select_mnc" class="form-select mb-2" aria-label="Choose a mobile network">
								<option value='0' selected>All</option>
								<option value='1'>Cubacel</option>
								<option value='4'>Shared Access</option>
								<option value='10'>O2-UK</option>
								<option value='15'>Vodafone-UK</option>
								<option value='20'>Three</option>
								<option value='30'>EE</option>
								<option value='55'>Sure</option>
								<option value='58'>Manx</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="accordion-item">
				<h2 class="accordion-header" id="accord_head_filter">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_four" aria-expanded="true" aria-controls="collapse_four">Filter Results</button>
				</h2>
				<div id="collapse_four" class="accordion-collapse collapse" aria-labelledby="accord_head_filter" data-bs-parent="#sidebar_accordion">
					<div class="accordion-body">
						<button class="btn btn-info btn-block text-light mb-2" id="filter_force_reload" disabled>
							<i class="fas fa-redo-alt"></i> Force Map Reload
						</button>

						<nav class="nav nav-pills nav-fill nav-justified">
							<a class="nav-item nav-link text-dark active" id="date_filter_toggle" href="#" role="tab" data-bs-toggle="tab" data-bs-target="#date_filter" aria-selected="true">
								<i class="fas fa-calendar-alt"></i><span class="sr-only">Dates</span>
							</a>
							<a class="nav-item nav-link text-dark" id="sector_filter_toggle" href="#" role="tab" data-bs-toggle="tab" data-bs-target="#sector_filter" aria-selected="false">
								<i class="fas fa-vector-square"></i><span class="sr-only">Sectors</span>
							</a>
							<a class="nav-item nav-link text-dark" id="node_filter_toggle" href="#" role="tab" data-bs-toggle="tab" data-bs-target="#node_filter" aria-selected="false">
								<i class="fas fa-broadcast-tower"></i><span class="sr-only">Nodes</span>
							</a>
							<a class="nav-item nav-link text-dark" id="pci_filter_toggle" href="#" role="tab" data-bs-toggle="tab" data-bs-target="#pci_filter" aria-selected="false">
								<i class="fas fa-id-card"></i><span class="sr-only">PCIs</span>
							</a>
							<a class="nav-item nav-link text-dark" id="other_filter_toggle" href="#" role="tab" data-bs-toggle="tab" data-bs-target="#other_filter" aria-selected="false">
								<i class="fas fa-map-pin"></i><span class="sr-only">Other</span>
							</a>
						</nav>

						<div class="tab-content">
							<div class="tab-pane active" id="date_filter" role="tabpanel" aria-labelledby="date_filter_toggle">
								<h3 class="h4">Date Filter</h3>
								<label for="node_date_filter">Filter nodes by when they were...</label>
								<select id="node_date_filter" class="form-select mb-2 reload-on-change" aria-label="Choose a value to filter by date">
									<option value='created' selected>Created (First Seen)</option>
									<option value='updated'>Updated (Last Seen)</option>
									<option value='none'>Don't filter by date</option>
								</select>
								<label for="node_first_seen">Show nodes after:</label>
								<input type="date" class="form-control reload-on-change" id="node_first_seen" name="node_first_seen" value="2010-01-01" />
								<label for="node_last_updated">Show nodes before:</label>
								<input type="date" class="form-control reload-on-change" id="node_last_updated" name="node_last_updated" value="2030-01-01" />
							</div>

							<div class="tab-pane" id="sector_filter" role="tabpanel" aria-labelledby="sector_filter_toggle">
								<div id="sector_list">No data loaded yet.</div>
							</div>

							<div class="tab-pane" id="pci_filter" role="tabpanel" aria-labelledby="pci_filter_toggle">
								<label for="pci_filter_list">Type a PCI:</label>
								<input type="number" class="form-control reload-on-change" id="pci_filter_list" placeholder="PCI" />
							</div>

							<div class="tab-pane" id="node_filter" role="tabpanel" aria-labelledby="node_filter_toggle">
								<h3 class="h4">Node Filter</h3>

								<span>Show only nodes in the range:</span>
								<div class="row">
									<div class="col">
										<input type="number" class="form-control reload-on-change" id="node_filter_range_lower" placeholder="Lower Node ID" aria-label="Lower bound node id">
									</div>
									<div class="col">
										<input type="number" class="form-control reload-on-change" id="node_filter_range_upper" placeholder="Upper Node ID" aria-label="Upper bound node id">
									</div>
								</div>

								<hr />

								<span>Show only nodes in the list:</span>
								<input type="number" class="form-control reload-on-change" id="node_filter_list" placeholder="Singular Node ID" aria-label="Enter a node id">
							</div>

							<div class="tab-pane" id="other_filter" role="tabpanel" aria-labelledby="other_filter">
								<h2 class="h4">Settings</h2>
								<label for="node_toggle_mappr">Show located nodes</label>
								<input type="checkbox" class="form-check-input m-1 reload-on-change" name="node_toggle_mappr" id="node_toggle_mappr" checked="checked" />

								<label for="node_toggle_mls">Show MLS nodes</label>
								<input type="checkbox" class="form-check-input m-1 reload-on-change" name="node_toggle_mls" id="node_toggle_mls" checked="checked" />

								<label for="node_toggle_low_accuracy">Show <abbr title="Nodes with less than 50 samples">'low accuracy'</abbr> nodes</label>
								<input type="checkbox" class="form-check-input m-1 reload-on-change" name="node_toggle_low_accuracy" id="node_toggle_low_accuracy" checked="checked" />
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="accordion-item">
				<h2 class="accordion-header" id="accord_head_xyz">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_five" aria-expanded="true" aria-controls="collapse_five">Operator XYZ Tiles</button>
				</h2>
				<div id="collapse_five" class="accordion-collapse collapse" aria-labelledby="accord_head_xyz" data-bs-parent="#sidebar_accordion">
					<div class="accordion-body">
						<form id="cm_tiles" class="row">
							<div class="col-md-6 mb-3">
								<input type="number" class="form-control" id="cm_input_mcc" placeholder="MCC" aria-label="mcc" value="234" />
							</div>
							<div class="col-md-6 mb-3">
								<input type="number" class="form-control" id="cm_input_mnc" placeholder="MNC" aria-label="mnc" />
							</div>
							<div class="col-md-6 mb-3">
								<select class="form-select" id="cm_select_rat" aria-label="Select RAT">
									<option value="LTE" selected>LTE (4G)</option>
									<option value="NR">NR (5G)</option>
									<option value="UMTS">UMTS (3G)</option>
									<option value="GSM">GSM (2G)</option>
								</select>
							</div>
							<div class="col-md-6 mb-3">
								<select class="form-select" id="cm_select_band" aria-label="Select band">
									<option value="0" selected>Any</option>
									<option value="1">1 (2100MHz)</option>
									<option value="3">Band 3 (1800MHz)</option>
									<option value="7">Band 7 (2600MHz)</option>
									<option value="8">Band 8 (900MHz)</option>
									<option value="20">Band 20 (800MHz)</option>
									<option value="28">Band 28 (700MHz)</option>
									<option value="32">Band 32 (1500MHz)</option>
									<option value="38">Band 38 (2600MHz)</option>
									<option value="40">Band 40 (2300MHz)</option>
								</select>
							</div>
							<div class="col-md-12">
								<button class="btn btn-primary" id="cm_tile_add" type="button">Add Tile Layer</button>
							</div>
						</form>

						<table class="table">
							<thead>
								<tr>
									<th>MCC</th>
									<th>MNC</th>
									<th>RAT</th>
									<th>Bands</th>
								</tr>
							</thead>
							<tbody id="tile_table">
								<tr>
									<td colspan="4">No xyz tiles added</td>
								</tr>
							</tbody>
						</table>

						<div class="container container-fluid">
							<label for="operator_tile_opacity">Tile Opacity</label>
							<input type="range" id="operator_tile_opacity" max="100" value="50" min="1"/>

							<div id="operator_maps"></div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="tab-pane" id="results" role="tabpanel" aria-labelledby="#results_toggle">
		<h2 class="h4 text-center">Node List</h2>

		<table class="table">
			<thead>
				<tr>
					<th>Network</th>
					<th>eNB</th>
					<th>Sectors</th>
				</tr>
			</thead>
			<tbody id="results_tbl">
				<tr>
					<td colspan="4">No nodes in map area</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="tab-pane" id="bookmarks" role="tabpanel" aria-labelledby="#bookmarks_toggle">
		<h2 class="h4 text-center">Bookmarked Locations</h2>

		<div class="m-2 container container-fluid text-center">
			<div class="btn-group" role="group" aria-label="Bookmark controls">
				<button type="button" class="btn btn-success" id="bookmarks_new">
					<i class="fas fa-plus"></i> New Bookmark
				</button>
				<button type="button" class="btn btn-info text-light" id="bookmarks_reload">
					<i class="fas fa-sync-alt"></i> Reload List
				</button>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Network</th>
					<th>Comment</th>
					<th>Created</th>
				</tr>
			</thead>
			<tbody id="bookmarks_list">
				<tr>
					<td colspan="3">No bookmarks found</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="tab-pane" id="files" role="tabpanel" aria-labelledby="#files_toggle">
		<h2 class="h4 text-center">CSV Import</h2>

		<input type="file" id="csv_import" accept="text/csv" />
		<table class="table">
			<thead>
				<tr>
					<th>File Name</th>
					<th>Rows</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="3">No files loaded</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
