{% extends "base.html" %}

{% block title %}Map{% endblock title %}

{% block description %}Mappr | A modern mast map{% endblock %}

{% block content %}
	<div id="csrf_token" data-value="{{ csrf_token() }}"></div>
	<div id="page">
		<div id="map"></div>

		<div id="sidebar">
			{% include "map/controls.html" %}
		</div>
	</div>
{% endblock content %}

{% block jsfiles %}
	{{ super() }}
	<!-- Leaflet Plugins -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/2.0.0/Control.FullScreen.min.js" integrity="sha512-c6ydt5Rypa1ptlnH2U1u+JybARYppbD1qxgythCI4pJ9EOfNYEWlLBjxBX926O3tq5p4Aw5GTY68vT0FdKbG3w==" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/2.0.0/Control.FullScreen.min.css" integrity="sha512-DRkMa+fn898M1uc6s9JZeztUoXN6viuHsXmh/pgz3jG6a77YWO3U3QYEjLoqbxOeclc2NunWfMTya4Y5twXAKA==" crossorigin="anonymous" />

	<!-- Extra Markers -->
	<script src="https://unpkg.com/beautifymarker@1.0.9/leaflet-beautify-marker-icon.js" integrity="sha384-loeLo2TSF+D4cr3NxoXh6DZXW2iOzG4Bfdlunz56NIXPvJFUynSPAV79B7bSVFkt" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://unpkg.com/beautifymarker@1.0.9/leaflet-beautify-marker-icon.css" integrity="sha384-WEQUujCp3OEGbM6FpKgt3LJuJLT3DcblwhKaZb5BHZziQsaCyWNdk+Eu/78WVrsf" crossorigin="anonymous">

	<!-- Chroma.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.1/chroma.min.js" integrity="sha512-RWI59o+PDXjPl3bakOf3k2ZbDtfvn/OU/ZKe6QmkE0V/ve7vYKEJe0RdkDueS+VkghBazP+1o4LKGON+pHUa5g==" crossorigin="anonymous"></script>

	<!-- Papa -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js" integrity="sha512-rKFvwjvE4liWPlFnvH4ZhRDfNZ9FOpdkD/BU5gAIA3VS3vOQrQ5BjKgbO3kxebKhHdHcNUHLqxQYSoxee9UwgA==" crossorigin="anonymous"></script>

	<!-- Chart.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js" integrity="sha512-BqNYFBAzGfZDnIWSAEGZSD/QFKeVxms2dIBPfw11gZubWwKUjEgmFUtUls8vZ6xTRZN/jaXGHD/ZaxD9+fDo0A==" crossorigin="anonymous"></script>

	<!-- Leaflet ESRI -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/esri-leaflet/3.0.1/esri-leaflet.min.js" integrity="sha512-yYYNKoOkoAzpeGuQNJNahD+hoiHP+yyeX/BP79gqd93EgOZGrL9VqSm35Smw0+4S9lgsNIKrSsVtmOLksLsjiw==" crossorigin="anonymous"></script>

	<!-- Leaflet Marker Cluster -->
	<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js" integrity="sha384-RLIyj5q1b5XJTn0tqUhucRZe40nFTocRP91R/NkRJHwAe4XxnTV77FXy/vGLiec2" crossorigin="anonymous"></script>
	<link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" rel="stylesheet" />

	<!-- Map libraries -->
	<script src="{{ url_for('static', filename='js/leaflet.canvas-markers.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/map/geotools2.js') }}" type="text/javascript"></script>

	<!-- Map JS files -->
	<script src="{{ url_for('static', filename='js/map/api.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/map/bookmarks.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/map/csv.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/map/data.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/map/history.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/map/map.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/map/table.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/map/ui.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/map/xyz.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/map/init.js') }}" type="text/javascript" defer></script>
{% endblock jsfiles %}
