{% extends "base.html" %}

{% block title %}Map{% endblock title %}

{% block description %}View a map of masts in your area and additional information about them{% endblock %}

{% block pagehead %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/map.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/markercluster.css') }}" />
{% endblock %}

{% block content %}
	<div id="csrf_token" data-value="{{ csrf_token() }}"></div>
	<div id="page">
		<div id="map" class="fw">
			<div class="d-flex justify-content-center mt-5">
				<h3>Map Loading...</h3><br />
  				<div class="spinner-border" role="status">
    				<span class="visually-hidden">Loading...</span>
  				</div>
			</div>
		</div>
		{% include "map/offcanvas.html" %}
	</div>
{% endblock content %}

{% block jsfiles %}
	{{ super() }}
	<!-- Chroma.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.2/chroma.min.js" integrity="sha512-8TVPS0EFkkmtT6yPb5K4csnSt3tjbKRrs0F8gvTNKv2OxOcwDO7+Klkz86gMVrzfqtZos5N2a+k+r9D+hlccmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<!-- Papa -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js" integrity="sha512-rKFvwjvE4liWPlFnvH4ZhRDfNZ9FOpdkD/BU5gAIA3VS3vOQrQ5BjKgbO3kxebKhHdHcNUHLqxQYSoxee9UwgA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<!-- Leaflet ESRI -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/esri-leaflet/3.0.2/esri-leaflet.min.js" integrity="sha512-gIH+jRsDGsufpY/g9qnzPNG9gHLSAcoDwFYf6q9i5VAmI8HqjZpwIq9zfY3zlMm7fZy5RpXSF34eedTCZnPxVw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<!-- Leaflet Marker Cluster -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.0/leaflet.markercluster.js" integrity="sha512-pWPELjRaw2ZdoT0PDi7iRpRlk1XX3rtnfejJ/HwskyojpHei+9hKpwdphC4yssNt4FM0TjMQOmMrk6ZYSn274w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.0/MarkerCluster.min.css" integrity="sha512-ENrTWqddXrLJsQS2A86QmvA17PkJ0GVm1bqj5aTgpeMAfDKN2+SIOLpKG8R/6KkimnhTb+VW5qqUHB/r1zaRgg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- Map libraries -->
	<script src="{{ url_for('static', filename='js/libs/leaflet.canvas-markers.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/libs/geotools2.js') }}" type="text/javascript"></script>

	<!-- Map JS files -->
	<script src="{{ url_for('static', filename='js/map_beta/api.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/map_beta/bookmarks.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/map_beta/csv.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/map_beta/data.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/map_beta/history.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/map_beta/map.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/map_beta/table.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/map_beta/ui.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/map_beta/worker.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/map_beta/xyz.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/map_beta/init.js') }}" type="text/javascript" defer></script>
{% endblock jsfiles %}
